$font-size: 16px;
$font-family: 'Montserrat', sans-serif;
$color-primary: #0066ff;
$color-black: #333333;
$color-grey: #ADADAD;
$color-secondary: #c21258;
$color-bg: #f3f3f3;
$shadow: 0 2px 5px rgba(0, 0, 0, 0.15);